@mixin pointer {
    cursor: pointer;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex {
    display: flex;
}
.flex-between {
    display: flex;
    justify-content: space-between;
}
.danger-font {
    color: red;
}
$white-color:#ffffff;

@media screen and (max-width:750px) {
    
}
@media (-webkit-min-device-pixel-ratio: 2){}
@media (-webkit-min-device-pixel-ratio: 3){}