body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* mixin start */
@mixin noScroll {
    &::-webkit-scrollbar {
        display:none
      }
}
@mixin pointer {
    cursor: pointer;
}
/* mixin end */
/* variables start */
$white-color:#ffffff;
$sideBarWidth: 200px;
/* variables end */
.mobile-layout {
    @include noScroll;
    height: 100%;
}
.main {
    padding-bottom: 0.7rem;
}
.scroll-v {
    @include noScroll;
}
/* variables start */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex {
    display: flex;
}
.flex-between {
    display: flex;
    justify-content: space-between;
}
.danger-font {
    color: red;
}


@media screen and (max-width:750px) {

}
@media (-webkit-min-device-pixel-ratio: 2){}
@media (-webkit-min-device-pixel-ratio: 3){}
